<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">

    <a href="/" class="lang-logo">
      <img src="/caco.jpg">
    </a>
    <h1>Oi</h1>
    <p>Coloca tudo os cnpj num arquivo de texto. Ps.: um em cada linha</p>
<!--     <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started with Node</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/node-js-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
 -->

    <form ref='uploadForm' id='uploadForm' action='/uploadDB' method='post' encType="multipart/form-data">
      <label class="custom-file">
        <input required type="file" name="cnpjsFile" id="cnpjsFile" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
          <input class="submit" type='submit' value='Upload!' />

    </form>    


</div>





</body>
</html>
